body{
  background-color: #000066;
}


.title{
  color:white;
  text-align: left;
  font-size: 30pt;
  margin-left: 30px;
  padding: 1px;
}

.win_loss{
  border: 1px solid white;
}

.summary{
  color: white;
  margin-left: 30px;
  font-size: 20pt;

}

.win_loss{
  color: #000066;
  background-color: #99CCFF;
}

.overview{
  color: white;
  margin-left: 30px;
  font-size: 25pt;

}

.stats{
  color: #000066;
  margin-left: 30px;
  width: 600px;
  height:270px;
  text-align: center;
  font-size: 15pt;
  background-color: #99CCFF;
}

table{
  border: 2px solid;
}

.stats td{
border: 2px solid;
}

.stats th{
  border: 2px solid;
}

body p a{
  color: white;
  text-decoration: none;
  font-size: 15pt;
  margin-left:30px;
  padding: 3px;
}

body p{
  margin-top: 20px;
}
